body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1350px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:1290px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:1290px;
}
#u1 {
  position:absolute;
  left:2px;
  top:637px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:30px;
  top:80px;
  width:90px;
  height:25px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
}
#u3 {
  position:absolute;
  left:2px;
  top:4px;
  width:86px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:60px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:60px;
}
#u6 {
  position:absolute;
  left:2px;
  top:22px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:49px;
  top:0px;
  width:121px;
  height:56px;
  font-size:28px;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:56px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:450px;
  top:20px;
  width:37px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:303px;
  top:20px;
  width:37px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:40px;
  top:6px;
  width:140px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u14 {
  position:absolute;
  left:373px;
  top:20px;
  width:37px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:362px;
  top:4px;
  width:66px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u17 {
  position:absolute;
  left:357px;
  top:57px;
  width:76px;
  height:144px;
  overflow:hidden;
  visibility:hidden;
}
#u17_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:144px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u17_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u19 {
  position:absolute;
  left:2px;
  top:12px;
  width:66px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:0px;
  top:40px;
  width:70px;
  height:40px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u21 {
  position:absolute;
  left:2px;
  top:12px;
  width:66px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:0px;
  top:80px;
  width:70px;
  height:30px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u23 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:0px;
  top:110px;
  width:70px;
  height:30px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u25 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:930px;
  top:57px;
  visibility:hidden;
}
#u26_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u26_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u28 {
  position:absolute;
  left:2px;
  top:12px;
  width:66px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:0px;
  top:40px;
  width:70px;
  height:40px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u30 {
  position:absolute;
  left:2px;
  top:12px;
  width:66px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:80px;
  width:70px;
  height:40px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u32 {
  position:absolute;
  left:2px;
  top:12px;
  width:66px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:930px;
  top:7px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u34 {
  position:absolute;
  left:940px;
  top:14px;
  width:31px;
  height:33px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:33px;
}
#u35 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:689px;
  top:14px;
  width:181px;
  height:36px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:36px;
}
#u37 {
  position:absolute;
  left:2px;
  top:10px;
  width:177px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:230px;
  top:20px;
  width:37px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:1000px;
  top:123px;
  width:50px;
  height:10px;
}
#u40_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_end {
  position:absolute;
  left:33px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_line {
  position:absolute;
  left:0px;
  top:5px;
  width:50px;
  height:1px;
}
#u41 {
  position:absolute;
  left:1050px;
  top:104px;
  width:300px;
  height:48px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:600px;
  top:75px;
  width:100px;
  height:30px;
  color:#0000FF;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u44 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:30px;
  top:138px;
  width:773px;
  height:122px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:773px;
  height:122px;
}
#u46 {
  position:absolute;
  left:2px;
  top:53px;
  width:769px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:331px;
  top:152px;
  width:29px;
  height:18px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:18px;
}
#u48 {
  position:absolute;
  left:2px;
  top:1px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:226px;
  top:224px;
  width:64px;
  height:16px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
