body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-30px;
  width:460px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:30px;
  top:30px;
  width:460px;
  height:370px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:370px;
}
#u1 {
  position:absolute;
  left:2px;
  top:177px;
  width:456px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:49px;
  top:274px;
  width:300px;
  height:64px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:64px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:54px;
  top:50px;
  width:295px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:28px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:54px;
  top:138px;
  width:406px;
  height:62px;
  font-size:18px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:62px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  word-wrap:break-word;
}
