body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1380px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:1290px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:1290px;
}
#u1 {
  position:absolute;
  left:2px;
  top:637px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:40px;
  top:131px;
  width:280px;
  height:229px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:239px;
}
#u3 {
  position:absolute;
  left:2px;
  top:106px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:350px;
  top:131px;
  width:280px;
  height:229px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:239px;
}
#u5 {
  position:absolute;
  left:2px;
  top:106px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:660px;
  top:131px;
  width:280px;
  height:229px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:239px;
}
#u7 {
  position:absolute;
  left:2px;
  top:106px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:40px;
  top:131px;
  width:280px;
  height:130px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:130px;
}
#u9 {
  position:absolute;
  left:2px;
  top:57px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:50px;
  top:261px;
  width:39px;
  height:59px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:59px;
}
#u11 {
  position:absolute;
  left:2px;
  top:22px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:89px;
  top:271px;
  width:157px;
  height:28px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:28px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:870px;
  top:80px;
  width:100px;
  height:30px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:89px;
  top:299px;
  width:53px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:230px;
  top:330px;
  width:26px;
  height:20px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:20px;
}
#u19 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:266px;
  top:328px;
  width:50px;
  height:22px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
}
#u21 {
  position:absolute;
  left:2px;
  top:3px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:60px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:60px;
}
#u24 {
  position:absolute;
  left:2px;
  top:22px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:49px;
  top:0px;
  width:121px;
  height:56px;
  font-size:28px;
  color:#FFFFFF;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:56px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:450px;
  top:20px;
  width:37px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:303px;
  top:20px;
  width:37px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:40px;
  top:6px;
  width:140px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u32 {
  position:absolute;
  left:373px;
  top:20px;
  width:37px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:362px;
  top:4px;
  width:66px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u35 {
  position:absolute;
  left:357px;
  top:57px;
  width:76px;
  height:144px;
  overflow:hidden;
  visibility:hidden;
}
#u35_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:144px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u35_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u37 {
  position:absolute;
  left:2px;
  top:12px;
  width:66px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:0px;
  top:40px;
  width:70px;
  height:40px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u39 {
  position:absolute;
  left:2px;
  top:12px;
  width:66px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:0px;
  top:80px;
  width:70px;
  height:30px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u41 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:0px;
  top:110px;
  width:70px;
  height:30px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u43 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:930px;
  top:57px;
  visibility:hidden;
}
#u44_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u44_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u46 {
  position:absolute;
  left:2px;
  top:12px;
  width:66px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:0px;
  top:40px;
  width:70px;
  height:40px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u48 {
  position:absolute;
  left:2px;
  top:12px;
  width:66px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:0px;
  top:80px;
  width:70px;
  height:40px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u50 {
  position:absolute;
  left:2px;
  top:12px;
  width:66px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:930px;
  top:7px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u52 {
  position:absolute;
  left:940px;
  top:14px;
  width:31px;
  height:33px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:33px;
}
#u53 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:689px;
  top:14px;
  width:181px;
  height:36px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:36px;
}
#u55 {
  position:absolute;
  left:2px;
  top:10px;
  width:177px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:230px;
  top:20px;
  width:37px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:1000px;
  top:191px;
  width:80px;
  height:10px;
}
#u58_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_end {
  position:absolute;
  left:63px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_line {
  position:absolute;
  left:0px;
  top:5px;
  width:80px;
  height:1px;
}
#u59 {
  position:absolute;
  left:1080px;
  top:131px;
  width:300px;
  height:80px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:114px;
  top:350px;
  width:10px;
  height:74px;
  -webkit-transform:rotate(339deg);
  -moz-transform:rotate(339deg);
  -ms-transform:rotate(339deg);
  transform:rotate(339deg);
}
#u61_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u61_end {
  position:absolute;
  left:-5px;
  top:57px;
  width:20px;
  height:18px;
}
#u61_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:74px;
}
#u62 {
  position:absolute;
  left:89px;
  top:423px;
  width:300px;
  height:48px;
  color:#0000FF;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:790px;
  top:90px;
  width:70px;
  height:10px;
}
#u64_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u64_end {
  position:absolute;
  left:53px;
  top:-5px;
  width:18px;
  height:20px;
}
#u64_line {
  position:absolute;
  left:0px;
  top:5px;
  width:70px;
  height:1px;
}
#u65 {
  position:absolute;
  left:672px;
  top:89px;
  width:112px;
  height:32px;
  color:#0000FF;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:32px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:256px;
  top:350px;
  width:10px;
  height:30px;
}
#u67_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u67_end {
  position:absolute;
  left:-5px;
  top:13px;
  width:20px;
  height:18px;
}
#u67_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:30px;
}
#u68 {
  position:absolute;
  left:245px;
  top:380px;
  width:66px;
  height:16px;
  color:#FF0000;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:8px;
  top:290px;
  width:27px;
  height:16px;
  color:#FF0000;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:35px;
  top:296px;
  width:15px;
  height:10px;
}
#u72_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u72_end {
  position:absolute;
  left:-2px;
  top:-5px;
  width:18px;
  height:20px;
}
#u72_line {
  position:absolute;
  left:0px;
  top:5px;
  width:15px;
  height:1px;
}
#u73 {
  position:absolute;
  left:81px;
  top:325px;
  width:39px;
  height:25px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:25px;
}
#u74 {
  position:absolute;
  left:2px;
  top:4px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
